<div class="tutorial-overlay"
     (touchstart)="onTouchStart($event)"
     (touchend)="onTouchEnd($event)">
  <div class="tutorial-content">
    <div class="slide">
      <span class="emoji">{{ emojis[currentSlide()] }}</span>
      <h2>{{ i18n.t().taxonomyTutorial.titles[currentSlide()] }}</h2>
      <p>{{ i18n.t().taxonomyTutorial.texts[currentSlide()] }}</p>
    </div>

    <div class="dots">
      @for (emoji of emojis; track $index) {
        <button
          class="dot"
          [class.active]="$index === currentSlide()"
          (click)="goTo($index)"
        ></button>
      }
    </div>

    <button class="next-button" (click)="next()">
      @if (currentSlide() < totalSlides - 1) {
        {{ i18n.t().taxonomyTutorial.next }}
      } @else {
        {{ i18n.t().taxonomyTutorial.done }}
      }
    </button>
  </div>
</div>
